.highlight {
  color: #00626d;
  font-weight: 600;
}

.bodyContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContainer {
  max-width: 600px;
  text-align: left;
}

.linkContainer {
  display: flex;
  gap: 0.5em;
  margin-top: 2em;
  max-width: 95%;
}

.toggleButton {
  width: 8em;
}

.dark-mode {
  background-color: black;
  color: lightgray;
}

.dark-mode button,
.dark-mode a {
  background-color: salmon;
  color: black;
}

.dark-mode .highlight {
  color: salmon;
}

@media (max-width: 600px) {
  .linkContainer {
    flex-direction: column;
    max-width: 100%;
  }
}
