.bodyContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContainer {
  max-width: 600px;
  text-align: left;
}

.linkContainer {
  display: flex;
  gap: 0.5em;
  margin-top: 2em;
  max-width: 95%;
}

@media (max-width: 600px) {
  .linkContainer {
    flex-direction: column;
    max-width: 100%;
  }
}

.highlight {
  color: var(--turquoise);
  font-weight: 600;
}

.dark-mode .highlight {
  color: var(--peach);
}
