.toggleContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.toggleButtonContainer {
  position: relative;
  height: 1.85rem;
  width: 3.3rem;
}

.toggleButton {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid var(--button-color);
}

.toggleButton:focus,
.toggleButton:hover {
  border: 2px solid var(--icon-focus);
}

.toggleButton:focus:before,
.toggleButton:hover:before {
  background-color: var(--icon-focus);
}

.toggleButton:before {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  left: 0.1rem;
  top: 0.1rem;
  border-radius: 50%;
  background-color: var(--button-color);
  transition: all 0.3s ease;
}

.toggleButton.right:before {
  transform: translateX(100%);
  background-color: var(--button-color);
}

.toggleButton.right:focus:before,
.toggleButton.right:hover:before {
  background-color: var(--icon-focus);
}
