.cardTitleRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-s);
}

.cardTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-m);
}

.arrowButton {
  border: none;
  background-color: transparent;
}

.arrowButton:hover {
  cursor: pointer;
}

.cardContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  margin: var(--spacing-m);
}

.cardContentContainer h3 {
  margin: var(--spacing-xs);
}

code {
  white-space: pre-wrap;
  color: var(--text-color);
}

.innerCard {
  background-color: var(--background-color);
  padding: var(--spacing-m);
  border-radius: var(--spacing-s);
}

.cardTitleContainer h2 {
  margin: var(--spacing-s);
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.categoriesContainer > div {
  background-color: var(--subcard-color);
}

@media (max-width: 600px) {
  .cardTitleContainer {
    gap: var(--spacing-s);
  }

  .cardTitleContainer h2 {
    margin: var(--spacing-xs);
  }

  .cardContentContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .categoriesContainer h2 {
    font-size: 1.17em;
  }
}
