.resumeFileContainer > canvas,
.resumeFileContainer > div {
  width: 100% !important;
  height: auto !important;
}

.resumeButtonContainer {
  display: flex;
  width: 350px;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-m);
}

.resumeButton {
  text-decoration: none;
}

@media (max-width: 500px) {
  .resumeButtonContainer {
    flex-direction: column;
    width: 100%;
  }
}
