.resumeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resumeFileContainer > canvas,
.resumeFileContainer > div {
  max-width: 700px;
  width: 100% !important;
  height: auto !important;
}

.resumeButtonContainer {
  display: flex;
  width: 280px;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.resumeButton {
  text-decoration: none;
}

@media (max-width: 500px) {
  .resumeButtonContainer {
    flex-direction: column;
    width: 100%;
  }
}
