.resumeFileContainer > canvas,
.resumeFileContainer > div {
  width: 100% !important;
  height: auto !important;
}

.resumeOuterButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-s);
  margin: var(--spacing-l) 0;
}

.resumeButtonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m);
}

.resumeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
}

@media (max-width: 700px) {
  .resumeOuterButtonContainer {
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-m);
  }
}

@media (min-width: 701px) {
  .resumeButton {
    min-width: 150px;
  }

  .lightCvButton {
    max-width: 300px;
  }
}
