#peace {
  width: 32px;
  height: 32px;
}

#circle {
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  box-sizing: border-box;
}

#line1 {
  position: relative;
  width: 7%;
  height: 100%;
  background-color: var(--primary-color);
  left: 47%;
}

#line2,
#line3 {
  position: relative;
  width: 7%;
  height: 55%;
  background-color: var(--primary-color);
  bottom: 55%;
  left: 28%;
  transform: rotate(45deg);
}

#line3 {
  left: 65%;
  bottom: 110%;
  transform: rotate(-45deg);
}
