.contactForm {
  display: flex;
  flex: 2;
  flex-direction: column;
  max-width: 420px;
  gap: var(--spacing-m);
}

.contactFormField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.contactFormInput {
  background-color: var(--form-background-color);
  border: none;
  border-radius: var(--spacing-s);
  padding: var(--spacing-m);
  font-size: medium;
}

.contactFormInput:focus,
.contactFormInput:hover {
  outline: 2px solid var(--form-focus-color);
}

.contactFormField textarea {
  min-height: 8rem;
}

.submitButton {
  background-color: transparent;
  margin-top: var(--spacing-s);
}

.submitButton:disabled,
.submitButton:disabled:hover,
.submitButton:disabled:focus {
  background-color: var(--button-disabled);
  outline: 2px solid var(--button-disabled) !important;
  color: var(--text-color) !important;
}

.alertMessage {
  border-radius: 10px !important;
  margin-top: var(--spacing-s);
  font-family: var(--font) !important;
}

.alertMessage div:first-child {
  align-self: center;
}

@media (max-width: 500px) {
  .contactFormField textarea {
    min-height: 5rem;
  }
}

@media (min-width: 501px) {
  .submitButton {
    width: 40%;
  }
}
