.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  gap: var(--spacing-m);
}

.contactFormField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.contactFormInput {
  background-color: var(--form-background-color);
  border: 1px solid var(--navbar-shadow);
  border-right: 2px solid var(--navbar-shadow);
  border-bottom: 2px solid var(--navbar-shadow);
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 25px;
  font-size: medium;
}

.contactFormInput:focus,
.contactFormInput:hover {
  background-color: var(--form-focus-color);
}

.contactFormField textarea {
  min-height: 8rem;
}

.submitButton {
  margin-top: var(--spacing-s);
}

.submitButton:disabled,
.submitButton:disabled:hover,
.submitButton:disabled:focus {
  background-color: var(--button-disabled-dark);
}

.alertMessage {
  border-radius: 10px !important;
  margin-top: var(--spacing-s);
  font-family: var(--font) !important;
}

.alertMessage div:first-child {
  align-self: center;
}

@media (max-width: 500px) {
  .contactFormField textarea {
    min-height: 5rem;
  }
}

@media (min-width: 501px) {
  .submitButton {
    width: 40%;
  }
}
