.contactForm {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-m);
}

.contactFormField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.contactFormInput {
  background-color: var(--form-background-color);
  border: none;
  padding: var(--spacing-m);
  font-size: medium;
  z-index: 1;
}

.contactFormInput:focus,
.contactFormInput:hover {
  outline: 2px solid var(--form-focus-color);
}

.contactFormField textarea {
  min-height: 8rem;
}

.submitButton {
  margin-top: var(--spacing-m);
}

.submitButton:disabled,
.submitButton:disabled:hover,
.submitButton:disabled:focus {
  border: 1px solid var(--button-disabled) !important;
  color: var(--text-color) !important;
}

.submitButton:disabled:before,
.submitButton:disabled:hover:before,
.submitButton:disabled:focus:before {
  background-color: var(--button-disabled);
}

.button {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-text-color) !important;
  font-size: medium;
  position: relative;
  height: var(--spacing-xl);
  text-decoration: none;
  width: 100%;
}

.button svg {
  fill: var(--button-text-color) !important;
}

.button:hover,
.button:focus {
  background-color: transparent;
  outline: 1px solid var(--button-focus);
  cursor: pointer;
}

.button:before {
  background-color: var(--button-shadow);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  width: 100%;
  opacity: 0.4;
}

.button:focus:before,
.button:hover:before {
  background-color: var(--button-focus);
}

.alertMessage {
  border-radius: 0 !important;
  margin-top: var(--spacing-s);
  font-family: var(--font) !important;
  z-index: 1;
}

.alertMessage.success {
  background-color: var(--success);
}

.alertMessage.error {
  background-color: var(--error);
}

.alertMessage div:first-child {
  align-self: center;
}

@media (max-width: 500px) {
  .contactFormField textarea {
    min-height: 5rem;
  }
}

@media (min-width: 501px) {
  .submitButton {
    width: 40%;
  }

  .contactForm {
    width: 75%;
  }
}
