.contactContainer {
  margin-top: 5%;
}

.inlineLink {
  color: var(--primary-color);
}

.contactLinkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.contactLink {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
  display: flex;
  font-size: large;
  align-items: center;
  color: var(--primary-color);
}

.contactLink:focus,
.contactLink:hover {
  color: var(--focus-color);
}
