.contactContainer {
  margin-top: 5%;
}

.inlineLink {
  color: var(--turquoise);
}

.contactLinkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.contactLink {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
  display: flex;
  font-size: large;
  align-items: center;
  color: var(--turquoise);
}

.contactLink:focus,
.contactLink:hover {
  color: var(--turquoise-dark);
}

.dark-mode .contactLink,
.dark-mode .inlineLink {
  color: var(--peach);
}

.dark-mode .contactLink:focus,
.dark-mode .contactLink:hover {
  color: var(--peach-dark);
}
