.languageButton {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-s);
  font-size: medium;
}

.languageButton:hover,
.languageButton:focus,
.languageOption:hover,
.languageOption:focus {
  background-color: var(--navbar-focus) !important;
}

.languageIcon {
  background-color: var(--navbar);
  color: var(--primary-color);
}

.languageIcon:focus,
.languageIcon:hover {
  color: var(--focus-color) !important;
}

.languageMenu div {
  border-radius: 0;
  box-shadow: none;
}

.languageMenu ul {
  background-color: var(--navbar-menu);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs) 0;
  color: var(--text-color);
}

.languageOption {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: var(--spacing-s) var(--spacing-m) !important;
  width: 120px;
  font-size: medium;
}
