.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: var(--spacing-xl);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 9999;
}

.navLinks {
  display: none;
}

.navLinks span {
  text-transform: lowercase;
}

.navLink {
  /* navbar height - padding */
  height: calc(var(--spacing-xl) - 2 * var(--spacing-m));
  padding: var(--spacing-m);
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--navbar-background);
  text-transform: lowercase;
}

.navLink.active {
  box-shadow: var(--navbar-focus) 0px -5px inset;
}

.navLink:hover,
.navLink:focus {
  box-shadow: var(--navbar-focus) 0px -5px inset, var(--navbar-shadow) 0px 5px;
}

.navButtons {
  display: none;
  gap: var(--spacing-m);
}

.menuButton {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent !important;
  border: 0;
  height: 100%;
  width: var(--spacing-xl);
  text-transform: lowercase;
}

.menuButton svg {
  margin-top: var(--spacing-xs);
  height: 1.5rem;
  width: 1.5rem;
}

.menu-open {
  overflow: hidden;
}

.menu-open main,
.menu-open footer {
  filter: brightness(80%) sepia(10%);
  background-color: var(--background-color);
}

@media (min-width: 751px) {
  .navbar {
    background-color: var(--navbar-background);
  }

  .menuButton {
    display: none;
  }

  .navLinks {
    display: flex;
    gap: var(--spacing-m);
  }
}
