.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 3rem;
  background-color: var(--grey-extralight);
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 9999;
}

.navlinks {
  display: flex;
  gap: 1rem;
}

.navbar a {
  /* navbar height - padding and border */
  height: calc(3rem - 2 * 0.8rem - 2 * 2px);
  padding: 0.8rem 1rem;
  text-decoration: none;
  background-color: var(--grey-extralight);
  color: var(--black);
  display: inline-block;
  border: 2px solid var(--grey-extralight);
}

.navbar a.active,
.navbar a:hover,
.navbar a:focus,
.menuButton:hover,
.menuButton:focus,
.menu a:focus {
  background-color: var(--grey-light) !important;
  border: 2px solid var(--grey-light) !important;
}

.navbar a.active {
  text-decoration: underline;
}

.menuButton {
  position: absolute;
  right: 0;
  background-color: transparent !important;
  color: var(--black) !important;
  border: 0;
  height: 100%;
  width: 44px;
}

.menuButton svg {
  margin-top: 0.3rem;
  height: 1.2rem;
  width: 1.2rem;
}

.menu {
  position: fixed;
  right: 0;
  top: calc(2.8rem + 2 * 2px);
  width: 250px;
  background-color: var(--grey-extraextralight);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.menu a {
  padding: 1rem;
  background-color: var(--grey-extraextralight);
  border: 2px solid var(--grey-extraextralight);
}

.dark-mode .navbar {
  background-color: var(--grey-extradark);
}

.dark-mode .menu,
.dark-mode .menu a {
  background-color: var(--grey-dark) !important;
  border: 2px solid var(--grey-dark) !important;
}

.dark-mode .navbar a {
  background-color: var(--grey-extradark);
  border: 2px solid var(--grey-extradark);
  color: var(--white);
}

.dark-mode .navbar a.active,
.dark-mode .navbar a:hover,
.dark-mode .navbar a:focus,
.dark-mode .menuButton:hover,
.dark-mode .menuButton:focus,
.dark-mode .menu a:focus {
  background-color: var(--grey) !important;
  border: 2px solid var(--grey) !important;
}

.dark-mode .menuButton {
  color: var(--white) !important;
}

@media (max-width: 500px) {
  .navlinks {
    display: none;
  }
}

@media (min-width: 501px) {
  .menuButton,
  .menu {
    display: none;
  }
}
