.inlineLink {
  color: var(--primary-color) !important;
}

.contactLinkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
  margin-top: var(--spacing-xl);
}

.contactLink {
  display: flex;
  gap: var(--spacing-m);
  padding-right: var(--spacing-m);
  font-size: large;
  align-items: center;
  color: var(--primary-color) !important;
}

.contactLink:focus,
.contactLink:hover,
.inlineLink:focus,
.inlineLink:hover {
  color: var(--focus-color) !important;
}

@media (min-height: 800px) {
  .contactContainer {
    margin-top: 5dvh;
  }
}
