.footer {
  width: 100%;
  height: var(--spacing-xl);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-color: var(--footer-background);
  opacity: 0.9;
  backdrop-filter: blur(30px);
  position: relative;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-l);
  padding: 0.25rem;
  position: relative;
}

.profileImage {
  height: calc(var(--viewwidth) * 0.5);
  max-height: 300px;
  transform: scaleX(-1);
  margin-left: 1rem;
  z-index: -1;
  position: absolute;
  right: 1rem;
  filter: brightness(80%);
}

@media (max-width: 700px) {
  .footer {
    justify-content: flex-start;
  }

  .footerLinks {
    margin-left: var(--spacing-l);
  }
}
