.footer {
  width: 100%;
  height: var(--spacing-xl);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-color: var(--footer-background);
  opacity: 0.9;
  backdrop-filter: blur(30px);
  position: relative;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-l);
  padding: 0.25rem;
  position: relative;
  z-index: 2;
}

.profileImage {
  height: calc(min(var(--viewwidth), var(--viewheight)) * 0.4);
  max-height: 300px;
  margin-left: 1rem;
  position: absolute;
  right: 1rem;
  z-index: 1;
}

@media (max-width: 700px) {
  .footer {
    justify-content: flex-start;
  }

  .footerLinks {
    margin-left: var(--spacing-l);
  }
}
