.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-bottom: 0;
  font-size: var(--spacing-l);
}

.shortIntro {
  font-family: "Source Code Pro", monospace;
  margin: var(--spacing-s);
}

.introContainer {
  display: flex;
  align-items: center;
}

.introContainer > svg {
  flex: 1;
}

.introContainer > p {
  flex: 5;
}

.profileImage {
  /*max-width: 400px;*/
  right: 0;
}

.pageLink {
  color: var(--background-color) !important;
  background-color: var(--navbar-focus);
  border-radius: 1rem;
  font-size: var(--spacing-m);
  font-weight: 600;
  flex: 1 1;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  padding: 1rem;
  text-decoration: none;
}

.pageLink:hover,
.pageLink:focus {
  background-color: var(--primary-color);
}

.pageLink svg {
  fill: var(--background-color);
}

.highlight.inlineLink {
  text-decoration: none;
}

@media (max-width: 600px) {
  .shortIntro {
    font-size: var(--spacing-m);
  }
}

@media (min-width: 601px) {
  .name {
    font-size: var(--spacing-xl);
  }

  .innerInfoContainer {
    display: flex;
    gap: var(--spacing-m);
  }

  .introOuterContainer {
    margin-top: var(--spacing-l);
  }

  .introContainer > p {
    flex: 6;
  }
}
