.infoContainer {
  max-width: 600px;
  text-align: left;
}

.linkContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  max-width: 95%;
}

@media (max-width: 600px) {
  .linkContainer {
    flex-direction: column;
    max-width: 100%;
  }
}

.redirectLink {
  font-size: 1rem;
  font-weight: 600;
  flex: 1 1;
  border-radius: 1rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.4rem;
}

.highlight {
  color: var(--turquoise);
  font-weight: 600;
}

.dark-mode .highlight {
  color: var(--peach);
}
