/* App colors */
:root {
  --white: #f5f4f2;
  --cream: #e4e5f7;
  --brown: #45413a;
  --grey-light: #a3a3a3;
  --grey: #494949;
  --grey-dark: #323232;
  --grey-darkest: #242424;
  --black: #040404;
  --button-disabled: #837f7e;
  --button-disabled-dark: #736f6e;
  --lilac-light: #d5d5f7;
  --lilac: #a09af1;
  --lilac-dark: #8a7fd7;
  --blue: #7cd1d9;
  --blue-dark: #5b48e0;
}

/* Brand colors */
:root {
  --color-react: #00d8ff;
  --color-typescript: #2966a8;
  --color-python: #ffde57;
  --color-node: #6cc24a;
  --color-azure: #00a1f1;
  --color-django: #0b3626;
  --color-php: #8892be;
  --color-laravel: #f55247;
  --color-postgresql: #336791;
  --color-sql: #f29111;
  --color-docker: #0db7ed;
  --color-css: #2b6bc0;
  --color-html: #e34f26;
  --color-material: #409aff;
}

/* Layout colors */
:root {
  --background-color: var(--cream);
  --text-color: black;
  --primary-color: var(--blue-dark);
  --focus-color: var(--black);
  --button-focus-color: var(--lilac-light);
  --button-outline-color: var(--primary-color);
  --navbar-background: var(--lilac);
  --navbar-focus: var(--lilac-dark);
  --navbar-shadow: var(--lilac-dark);
  --card-color: var(--lilac-light);
  --card-subheader: var(--brown);
  --card-sidetext: var(--brown);
  --form-background-color: var(--white);
  --form-focus-color: var(--blue-dark);
  --button-disabled: var(--grey-light);
  --footer-background: var(--lilac-light);
}

/* Layout colors for dark color scheme */
[data-theme="dark"] {
  --background-color: var(--black);
  --text-color: var(--white);
  --primary-color: var(--blue);
  --button-outline-color: var(--primary-color);
  --button-focus-color: var(--grey-dark);
  --button-focus-outline-color: var(--primary-color);
  --navbar-background: var(--grey-darkest);
  --navbar-focus: var(--grey);
  --card-color: var(--grey-dark);
  --card-subheader: var(--white);
  --card-sidetext: var(--white);
  --form-background-color: var(--white);
  --form-focus-color: var(--primary-color);
  --footer-background: var(--grey);
}

/* Layout */
:root {
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-m: 1rem;
  --spacing-ml: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  /* 100% device view height - navbar height - footer height, padding and margin */
  --viewheight: calc(
    100dvh - 2 * var(--spacing-xl) - 3.5rem - var(--spacing-l)
  );
  --viewheight-mobile: calc(100dvh - 2 * var(--spacing-xl));
  /* 100% device view width - padding */
  --viewwidth: calc(100dvw - 2 * var(--spacing-l));
  --viewwidth-mobile: calc(100dvw - 2 * var(--spacing-ml));
  --max-content-width: 800px;
  --font: "Inter", "Roboto", sans-serif;
}

/* Fonts */
:root {
  font-family: var(--font);
}

textarea,
input {
  font-family: var(--font);
  font-size: var(--spacing-m) !important;
}

body {
  margin: 0;
  height: calc(100dvh - var(--spacing-xl));
  background-color: var(--background-color);
  opacity: 0.9;
}

h1 {
  color: var(--primary-color);
}

a,
p,
h2,
h3,
h4,
h5,
h6,
label,
span {
  color: var(--text-color) !important;
}

svg {
  fill: var(--primary-color);
}

main {
  min-height: var(--viewheight);
  padding: var(--spacing-l);
  padding-bottom: var(--spacing-xl);
  margin-top: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main > div {
  height: 100%;
  width: calc(var(--max-content-width) - 2 * var(--spacing-l));
}

@media (max-width: 600px) {
  main {
    padding-top: 0;
    min-height: var(--viewheight-mobile);
  }

  main > div {
    max-width: var(--viewwidth-mobile);
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  main > div {
    max-width: var(--viewwidth);
  }
}
