:root {
  --black: #131313;
  --grey-extraextralight: #dcdcdc;
  --grey-extralight: #cfcfcf;
  --grey-light: #a3a3a3;
  --grey: #494949;
  --grey-dark: #2a2a2a;
  --grey-extradark: #212121;
  --white: #f3f3f3;
  --turquoise: #025a64;
  --turquoise-dark: #024047;
  --peach: #fa8072;
  --peach-light: #fba9a0;
  --peach-dark: #f15d4b;
  --color-button-disabled: #8c8c8c;
  --color-button-disabled-dark: #777777;
  --color-react: #00d8ff;
  --color-typescript: #2966a8;
  --color-python: #ffde57;
  --color-node: #6cc24a;
  --color-azure: #00a1f1;
  --color-django: #0b3626;
  --color-php: #8892be;
  --color-laravel: #f55247;
  --color-postgresql: #336791;
  --color-sql: #f29111;
  --color-docker: #0db7ed;
  --color-css: #2b6bc0;
  --color-html: #e34f26;
  --color-chakra: #379795;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--black);
}

body.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

main {
  margin-top: 1.5rem;
  /* 100% device view height - navbar height and padding */
  min-height: calc(100dvh - 3rem - 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main > div {
  max-width: 800px;
}

h1 {
  color: var(--turquoise);
}

.dark-mode h1 {
  color: var(--peach);
}

/* Hides all the chakra notification landmarks since they are not used,
   workaround to fix 'landmarks should be unique' accessibility issue */
.chakra-portal {
  display: none;
}
