/* App colors */
:root {
  --white: #fdfdfc;
  --paper: #f5f4f2;
  --cream-light: #e5e1dd;
  --cream: #efedea;
  --beige-light: #d6d1ca;
  --beige: #c7c0b7;
  --beige-dark: #ada396;
  --brown: #45413a;
  --grey-light: #a3a3a3;
  --grey: #2e2e2e;
  --grey-medium: #454443;
  --grey-dark: #222222;
  --grey-darkest: #181818;
  --black: #131313;
  --blue-light: #9bf0ff;
  --blue: #80ecff;
  --blue-dark: #3520d6;
}

/* Brand colors */
:root {
  --color-react: #00d8ff;
  --color-typescript: #2966a8;
  --color-python: #ffde57;
  --color-node: #6cc24a;
  --color-azure: #00a1f1;
  --color-django: #0b3626;
  --color-php: #8892be;
  --color-laravel: #f55247;
  --color-postgresql: #336791;
  --color-sql: #f29111;
  --color-docker: #0db7ed;
  --color-css: #2b6bc0;
  --color-html: #e34f26;
  --color-material: #409aff;
}

/* Layout colors */
:root {
  --background-color: var(--cream);
  --text-color: var(--black);
  --primary-color: var(--blue-dark);
  --button-outline-color: var(--blue-dark);
  --button-text-color: var(--cream);
  --button-focus-color: var(--paper);
  --card-color: var(--cream-light);
  --navbar-background: var(--beige-light);
  --navbar-menu: var(--beige-light);
  --navbar-focus: var(--beige);
  --card-subheader: var(--brown);
  --card-sidetext: var(--brown);
  --form-background-color: var(--white);
  --form-focus-color: var(--blue-dark);
  --button-disabled: var(--grey-light);
  --toggle-button-outline-color: var(--button-disabled);
}

/* Layout colors for dark color scheme */
[data-theme="dark"] {
  --background-color: var(--grey-darkest);
  --text-color: var(--paper);
  --primary-color: var(--blue);
  --button-outline-color: var(--primary-color);
  --button-text-color: var(--cream);
  --button-focus-color: var(--grey-medium);
  --card-color: var(--grey-dark);
  --navbar-background: var(--black);
  --navbar-menu: var(--grey-dark);
  --navbar-focus: var(--grey);
  --card-subheader: var(--grey-light);
  --card-sidetext: var(--grey-light);
  --form-background-color: var(--cream);
  --form-focus-color: var(--blue);
  --button-disabled: var(--grey-medium);
  --toggle-button-outline-color: var(--primary-color);
}

/* Layout */
:root {
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-m: 1rem;
  --spacing-ml: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  /* 100% device view height - navbar height, padding and margin */
  --viewheight: calc(100dvh - 2 * var(--spacing-xl) - var(--spacing-l));
  --viewheight-mobile: calc(100dvh - 2 * var(--spacing-xl));
  /* 100% device view width - padding */
  --viewwidth: calc(100dvw - 2 * var(--spacing-l));
  --viewwidth-mobile: calc(100dvw - 2 * var(--spacing-ml));
  --max-content-width: 800px;
  --font: "Inter", "Roboto", sans-serif;
}

/* Fonts */
:root {
  font-family: var(--font);
}

textarea,
input {
  font-family: var(--font);
  font-size: var(--spacing-m) !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  height: calc(100dvh - var(--spacing-xl));
}

h1 {
  color: var(--primary-color);
}

a,
p,
h2,
h3,
label {
  color: var(--text-color) !important;
}

main {
  min-height: var(--viewheight);
  padding: var(--spacing-l);
  padding-bottom: var(--spacing-xl);
  margin-top: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main > div {
  height: 100%;
  width: calc(var(--max-content-width) - 2 * var(--spacing-l));
}

@media (max-width: 600px) {
  main {
    padding-top: 0;
    min-height: var(--viewheight-mobile);
  }

  main > div {
    max-width: var(--viewwidth-mobile);
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  main > div {
    max-width: var(--viewwidth);
  }
}
